**/__pycache__
__pycache__
**/.ipynb_checkpoints
**/performancereports
**/*.db
*.rdb
**/.Rhistory
configs/*
!configs/test.env
.DS_Store
.idea
.vscode
.cache
.pytest_cache/
.scannerwork
miscs
tmp
data/*
**/*.pyc
